div {
  padding: 0;
  margin: 0;
}
.footer {
  background-color: #172538;
  padding: 5px;
  margin-top: 16px;
}
.footer-content {
  display: flex;
  padding: 25px;
}
.medica-part {
  text-align: start;
  padding-left: 40px;
}

.medica-para {
  font-size: 14px;
  line-height: 2;
  font-weight: 900;
  padding-top: 60px;
  width: 80%;
}

.useful-links ul {
  list-style: none;
  margin-top: 70px;
}

.useful-links h6 {
  text-transform: uppercase;
  font-weight: 900;
  text-align: start;
  padding-left: 95px;
  padding-top: 10px;
}

.useful-links li {
  text-align: start;
  font-size: 14px;
  font-weight: 900;
  padding-left: 70px;
  padding-top: 5px;
  cursor: pointer;
}
.useful-links li:hover {
  text-decoration: underline;
}

.contact-us {
  text-align: start;
}

.contact-us h6 {
  text-transform: uppercase;
  font-weight: 900;
  text-align: start;
  padding-left: 65px;
  padding-top: 10px;
}
.contact-us .contact {
  font-size: 15px;
  padding-left: 70px;

  margin-top: 70px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-divider {
  color: #fff;
}
.footer-titlte {
  color: #fff;
  font-weight: 900;
}

@media only screen and (max-width: 576px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .useful-links h6 {
    text-transform: uppercase;
    font-weight: 900;
    text-align: start;
    padding-left: 40px;
    padding-top: 40px;
    text-decoration: underline;
  }
  .useful-links li {
    text-align: start;
    font-size: 14px;
    font-weight: 900;
    padding-top: 5px;
    cursor: pointer;
    margin-top: 0px;
  }
}
